<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515546058364-df5uovkiq6krnhlf9cbtekov466dqi7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515546058364-df5uovkiq6krnhlf9cbtekov466dqi7e</string>
	<key>API_KEY</key>
	<string>AIzaSyAtzfvLNxZq93rn60xO3ef3yRWV0YDXUXU</string>
	<key>GCM_SENDER_ID</key>
	<string>515546058364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.umich.sbechar.SteadyFit</string>
	<key>PROJECT_ID</key>
	<string>steadyfit-d3799</string>
	<key>STORAGE_BUCKET</key>
	<string>steadyfit-d3799.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515546058364:ios:ea5b3b3a878c38340543f9</string>
</dict>
</plist>